  #car_photo
    {
      float: left;
      height: 128px;
      width: 128px;
      margin-right: 10px;
    }

  #ryczalt_photo
  {
    float: left;
    height: 128px;
    width: 128px;
    margin-right: 10px;
  }

  #employee_photo
  {
    float: left;
    height: 128px;
    width: 128px;
    margin-right: 10px;
  }

  #permissions_photo
  {
    float: left;
    height: 128px;
    width: 128px;
    margin-right: 10px;
  }

  #logout_photo
  {
    float: left;
    height: 128px;
    width: 128px;
    margin-right: 10px;
  }

  #delegation_photo
  {
    float: left;
    height: 128px;
    width: 128px;
    margin-right: 10px;
  }

  #cities_photo
  {
    float: left;
    height: 128px;
    width: 128px;
    margin-right: 10px;
  }

  #search_photo
  {
    float: left;
    height: 128px;
    width: 128px;
    margin-right: 10px;
  }
