table
{
  text-align: center;
max-width:100%;
white-space:nowrap;
margin-left: auto;
margin-right: auto;
text-align: center;
}

a
{
  text-decoration: none;
}

@media print
{
    #strzalka
    {
        display: none;
    }
}


#strzalka
{
width: 64px;
height: 64px;
float:left;
-webkit-print-color-adjust: economy;
}
